#Allow cgi programs anywhere
Options +ExecCGI -Multiviews
AddHandler cgi-script .cgi

#DirectoryIndex index.cgi

RewriteEngine On

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.cgi [L]
