#Allow cgi programs anywhere
Options +ExecCGI
AddHandler cgi-script .cgi

RewriteEngine On

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.cgi [L]
